@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(243, 100%, 93%);
  font-family: "EB Garamond", serif;
  font-family: "Outfit", sans-serif;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(229, 57%, 11%);
  background-image: url(images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  align-items: center;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  transform: translateY(-75px);
}
.logo {
  width: 220px;
  height: 130px;
  background-color: hsl(228, 56%, 26%);
  border-top-right-radius: 55px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 1px 30px hsla(229, 57%, 11%, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.logo-img {
  width: 100px;
}
.logo-row {
  display: flex;
  gap: 8px;
}
.logo-row div {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 5px;
}
.logo-row img {
  width: 50%;
  height: 50%;
}
.gb {
  width: 350px;
  height: 100px;
  box-sizing: border-box;
  background-color: hsl(228, 56%, 26%);
  align-self: flex-end;
  border-radius: 5px;
  padding: 20px;
}
.gb-left {
  position: absolute;
  width: 95px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 6px;
  padding-top: 12px;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 73% 72%, 0 71%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transform: translateY(-70%) translateX(220%);
}
.number {
  display: flex;
  gap: 2px;
}
.number span {
  font-family: "EB Garamond", serif;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 18px;
}
.number span:nth-child(2) {
  transform: translateY(-3px);
}
.gb-left p {
  font-family: "EB Garamond", serif;
  font-family: "Outfit", sans-serif;
  font-size: 10px;
  color: hsl(229, 7%, 55%);
}
.used {
  padding-top: 4px;
  font-size: 14px;
  font-family: "EB Garamond", serif;
  font-family: "Outfit", sans-serif;
  color: hsl(229, 7%, 55%);
  padding-bottom: 15px;
}
.used span {
  color: hsl(243, 100%, 93%);
}
.range {
  width: 100%;
  height: 10px;
  border-radius: 15px;
  background-color: hsl(229, 57%, 11%);
  padding-top: 0.5px;
  box-sizing: border-box;
  padding-bottom: 0.5px;
  padding-left: 0.5px;
}
.range-load {
  width: 70%;
  height: 100%;
  background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 15px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-right: 0.5px;
  display: flex;
  justify-content: end;
}
.ball {
  background-color: white;
  height: 100%;
  width: 10px;
  border-radius: 50%;
}
.total {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.total p {
  color: hsl(243, 100%, 93%);
  font-family: "EB Garamond", serif;
  font-family: "Outfit", sans-serif;
  font-size: 13px;
}
@media (max-width: 500px) {
  body {
    background-size: cover;
    background-image: url(images/bg-mobile.png);
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(0px);
  }
  .logo,
  .gb {
    width: 90%;
    height: 150px;
  }
  .logo {
    justify-content: center;
  }
  .gb {
    align-self: center;
  }
  .gb-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 78% 100%, 0 100%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(100px) translateX(0px);
    left: calc(50% - 95px);
    height: 40px;
  }
  .attribution {
    padding-top: 40px;
  }
}
